/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
	margin: 0;
	padding: 0;
}
:root {
	--shadow: linear-gradient(
		108deg,
		#b16cea 8%,
		#ff5e69 40%,
		#ff8a56 77%,
		#ffa84b 91%
	);
}

#div1231 {
	background-color: var(--shadow);
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__t101\+ {
	border: none;
}
.form-field_formfield__t101\+:active {
	outline: #fcd34d solid 1px;
}
.form-field_formfield__t101\+:focus-visible {
	outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__e0rYu {
	background-color: #be185d;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1rem;
	color: #fdf2f8;
	padding: 0.5rem 1rem;
	border: none;
}

.button_cancel__zUUcf {
	background-color: #6b7280;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1rem;
	color: #e5e7eb;
	padding: 0.5rem 1rem;
	border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Home.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Home.Flex1 {
	display: flex;
	justify-content: space-between;
	height: 6em;
	padding-top: 0px;
	padding-left: 81px;
	padding-right: 61px;
	right: 0;
	left: 0;
}
.p-Home.Flex2 {
	display: flex;
	justify-content: space-around;
	row-gap: 0px;
	-moz-column-gap: 1.8em;
	column-gap: 1.8em;
	align-items: center;
	height: ;
	padding-right: 31px;
	width: 33em;
	box-sizing: border-box;
	margin-left: 0px;
	font-family: Plus Jakarta Sans;
	font-weight: 700;
}
.p-Home.Flex7 {
	display: flex;
	height: ;
	justify-content: space-around;
	padding-top: 24px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}
.p-Home.Flex8 {
	display: flex;
	flex-direction: column;
	width: 38em;
	align-items: flex-start;
	justify-content: flex-start;
	row-gap: 0.8em;
	border-color: #ffffff;
	height: ;
	margin-left: 39px;
}
.p-Home.Flex9 {
	display: flex;
	justify-content: space-around;
	width: 21em;
	margin-left: 30px;
	height: 8em;
	align-items: center;
	-moz-column-gap: 1.1em;
	column-gap: 1.1em;
}
.p-Home.Flex13 {
	display: flex;
	flex-direction: column;
	height: 28em;
	align-items: center;
	justify-content: center;
}
.p-Home.Flex15 {
	display: flex;
	width: 75%;
	height: 35%;
	align-items: center;
	justify-content: space-between;
	padding-right: 0px;
	padding-left: 0px;
	-moz-column-gap: 2em;
	column-gap: 2em;
}
.p-Home.Flex16 {
	display: flex;
	height: 19em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-moz-column-gap: ;
	column-gap: ;
	row-gap: 0.1em;
}
.p-Home.Flex17 {
	display: flex;
	height: 30em;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-right: 60px;
	padding-left: 60px;
	-moz-column-gap: ;
	column-gap: ;
	box-sizing: border-box;
	margin-bottom: 0px;
	margin-top: 0px;
}
.p-Home.Flex46 {
	display: flex;
	width: 23%;
	height: 60%;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 22px;
	align-items: flex-start;
}
.p-Home.Flex45 {
	display: flex;
	flex-direction: column;
	height: ;
	width: 100%;
	justify-content: space-between;
	row-gap: 14px;
}
.p-Home.Flex42 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex43 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex44 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex71 {
	display: flex;
	display: flex;
	width: 23%;
	height: 60%;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 22px;
	align-items: flex-start;
}
.p-Home.Flex70 {
	display: flex;
	flex-direction: column;
	height: ;
	width: 100%;
	justify-content: space-between;
	row-gap: 14px;
}
.p-Home.Flex67 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex68 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex69 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex76 {
	display: flex;
	width: 23%;
	height: 60%;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 22px;
	align-items: flex-start;
}
.p-Home.Flex75 {
	display: flex;
	flex-direction: column;
	/* height: ; */
	width: 100%;
	justify-content: space-between;
	row-gap: 14px;
}
.p-Home.Flex72 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex73 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.Flex74 {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}
.p-Home.proj_container {
	display: flex;
	height: 109em;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0px;
}
.p-Home.Flex203 {
	display: flex;
	background-color: #000000;
	height: 70em;
	justify-content: space-around;
	padding-top: 0px;
	padding-right: 59px;
	overflow: hidden;
}
.p-Home.Flex201 {
	display: flex;
	width: 47%;
	flex-direction: column;
	font-family: Plus Jakarta Sans;
	font-weight: normal;
	color: #ffffff;
	padding-top: 300px;
	overflow: auto;
	justify-content: flex-start;
}
.p-Home.Flex200 {
	display: flex;
	height: 13em;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
	border-bottom-width: 1px;
	border-bottom-color: #8e7f7f;
	border-bottom-style: solid;
	padding-bottom: 0px;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin-bottom: 30px;
	border-width: ;
	border-style: ;
	border-color: #8a8383;
}
.p-Home.TextBox220.bpt:hover,
.p-Home.TextBox204.bpt:hover {
	cursor: pointer;
}
.p-Home.Flex204 {
	display: flex;
	margin-bottom: 15px;
}
.p-Home.Flex214 {
	display: flex;
	height: 13em;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
	border-bottom-width: 1px;
	border-bottom-color: #8e7f7f;
	border-bottom-style: solid;
	padding-bottom: 0px;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin-bottom: 30px;
	border-width: ;
	border-style: ;
	border-color: #8a8383;
}
.p-Home.Flex213 {
	display: flex;
	margin-bottom: 15px;
}
.p-Home.Flex218 {
	display: flex;
	height: 13em;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
	border-bottom-width: 1px;
	border-bottom-color: #8e7f7f;
	border-bottom-style: solid;
	padding-bottom: 0px;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin-bottom: 30px;
	border-width: ;
	border-style: ;
	border-color: #8a8383;
}
.p-Home.Flex217 {
	display: flex;
	margin-bottom: 15px;
}
.p-Home.Flex224 {
	display: flex;
	height: 13em;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
	border-bottom-width: 1px;
	border-bottom-color: #8e7f7f;
	border-bottom-style: solid;
	padding-bottom: 0px;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin-bottom: 30px;
	border-width: ;
	border-style: ;
	border-color: #8a8383;
}
.p-Home.Flex223 {
	display: flex;
	margin-bottom: 15px;
}
.p-Home.Flex202 {
	display: flex;
	width: 30%;
	flex-direction: column;
	padding-top: 250px;
}
.p-Home.Flex211 {
	display: flex;
	flex-direction: column;
	height: 12em;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	justify-content: space-around;
}
.p-Home.Flex212 {
	display: flex;
	width: 100%;
}
.p-Home.white {
	display: flex;
	height: 30em;
	align-items: center;
	justify-content: space-around;
	width: 1530px;
}
.p-Home.Flex185 {
	display: flex;
	height: 30em;
	width: 457px;
	flex-direction: column;
	position: relative;
	top: 115px;
	background-color: white;
	margin-left: 90px;
}

.p-Home.Flex184 {
	display: flex;
}
.p-Home.Flex262 {
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 35px;
	margin-left: ;
}
.p-Home.Flex263 {
	display: flex;
	margin-bottom: 10px;
}
.p-Home.Flex275 {
	display: flex;
	height: 30em;
	width: 457px;
	flex-direction: column;
	position: relative;
	top: 115px;
	background-color: white;
}

.p-Home.Flex273 {
	display: flex;
}
.p-Home.Flex274 {
	display: flex;
	height: 70%;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 40px;
}
.p-Home.Flex272 {
	display: flex;
	margin-bottom: 10px;
}
.p-Home.Flex279 {
	display: flex;
	height: 30em;
	width: 457px;
	flex-direction: column;
	position: relative;
	top: 115px;
	background-color: white;
}
.p-Home.Flex277 {
	display: flex;
}
.p-Home.Flex278 {
	display: flex;
	height: 70%;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 40px;
}
.p-Home.Flex276 {
	display: flex;
	margin-bottom: 10px;
}
.p-Home.out {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 18em;
	align-items: center;
	padding-right: ;
	margin-bottom: 0px;
}
.p-Home.Flex227 {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 30%;
	padding-top: 23px;
}
.p-Home.Flex230 {
	display: flex;
	justify-content: space-around;
	height: 47em;
	align-items: center;
	padding-left: 100px;
	width: ;
	padding-right: 100px;
}
.p-Home.Flex231 {
	display: flex;
	width: 24%;
	height: 85%;
	flex-direction: column;
}
.p-Home.Flex232 {
	display: flex;
	width: 24%;
	height: 85%;
}
.p-Home.Flex233 {
	display: flex;
	width: 48%;
	height: 85%;
}
.p-Home.Flex234 {
	display: flex;
	background-color: #000000;
	height: 55em;
	flex-direction: column;
	align-items: center;
}
.p-Home.Flex235 {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	height: 15em;
	justify-content: center;
}
.p-Home.Flex236 {
	display: flex;
	height: 32em;
	width: 86%;
	align-items: center;
	justify-content: space-between;
	font-family: Plus Jakarta Sans;
	font-weight: 700;
	font-size: 24px;
	color: #ffffff;
}
.p-Home.Flex237 {
	display: flex;
	width: 48%;
	flex-direction: column;
	height: 26em;
	justify-content: flex-start;
	-moz-column-gap: ;
	column-gap: ;
}
.p-Home.Flex244 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 60px;
	padding-top: 25px;
}
.p-Home.Flex253 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 60px;
}
.p-Home.Flex254 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 60px;
	padding-top: 25px;
}
.p-Home.Flex256 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 60px;
	padding-top: 25px;
}
.p-Home.Flex261 {
	display: flex;
	width: 48%;
	flex-direction: column;
	height: 22em;
	justify-content: flex-start;
	-moz-column-gap: ;
	column-gap: ;
}
.p-Home.Flex257 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 53px;
}
.p-Home.Flex258 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 53px;
}
.p-Home.Flex259 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 53px;
}
.p-Home.Flex260 {
	display: flex;
	justify-content: space-between;
	border-bottom-width: 1px;
	border-bottom-color: #676262;
	border-bottom-style: solid;
	padding-bottom: 53px;
}

/* //CUSTOM FLEX */

.p-Home.proj.bpt {
	display: flex;
	height: 10em;
	justify-content: space-between;
	margin-top: 8em;
}
.p-Home.Flex402.bpt {
	display: flex;
	flex-direction: column;
	width: 34em;
	align-items: flex-start;
	justify-content: flex-start;
	border-color: #ffffff;
	height: 20em;
	margin-left: 6em;
}
.p-Home.Flex401.bpt {
	display: flex;
	flex-direction: column;
	width: 10em;
	align-items: flex-start;
	justify-content: center;
	row-gap: 0.8em;
	border-color: #ffffff;
	margin-right: 6em;
}

.p-Home.TextBox302 {
	font-size: 22px;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	margin-bottom: 1em;
}
.p-Home.TextBox301 {
	font-family: Plus Jakarta Sans;
	font-size: 54px;
	text-align: left;
	font-weight: 800;
	line-height: 1em;
}

/* //end */

.p-Home.Image2 {
	padding-top: ;
	padding-bottom: 15px;
	width: 14em;
}
.p-Home.TextBox3 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Plus Jakarta Sans;
	font-weight: 700;
}
.p-Home.TextBox4 {
	font-family: Plus Jakarta Sans;
	font-size: ;
	font-weight: 700;
}
.p-Home.TextBox5 {
	font-family: Plus Jakarta Sans;
	font-weight: 700;
	text-align: left;
}
.p-Home.TextBox14 {
	font-family: Plus Jakarta Sans;
	font-weight: 700;
}
.p-Home.TextBox15 {
	font-family: Plus Jakarta Sans;
	font-weight: 700;
}
.p-Home.Image3 {
	position: relative;
	right: 0;
	margin-right: 0px;
	margin-left: -36px;
	padding-right: 23px;
}
.p-Home.Image1 {
	width: 26em;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	bottom: 0;
	right: 0;
	top: 11px;
	left: 0;
	margin-right: 34px;
}
.p-Home.TextBox8 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 70px;
	position: relative;
	left: 0;
	top: 12px;
}
.p-Home.TextBox9 {
	font-family: Plus Jakarta Sans;
	font-size: 72px;
	text-align: left;
	font-weight: 800;
}
.p-Home.TextBox10 {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #ffffff;
	color: #8f8a8a;
	font-family: Plus Jakarta Sans;
	font-size: 20px;
}
.p-Home.Button1 {
	color: #fff;
	background-color: #000000;
	padding-top: 8px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-right: 15px;
	font-size: 16px;
	border-radius: 2px;
	outline: none;
	font-weight: 800;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 12em;
	height: 3.4em;
	font-family: Plus Jakarta Sans;
	/* box-shadow: 5px 10px var(--shadow); */
}
.p-Home.Button2 {
	color: #050505;
	background-color: #ffffff;
	padding-top: 8px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-right: 15px;
	font-size: 18px;
	border-radius: 2px;
	outline: none;
	font-weight: 800;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: Plus Jakarta Sans;
	width: 15em;
}
.p-Home.Image4 {
	margin-left: 0px;
	margin-right: 0px;
	width: 1.4em;
	position: relative;
	left: -30px;
	right: 0;
}
.p-Home.TextBox16 {
	font-family: Plus Jakarta Sans;
	font-weight: 400;
	font-size: 20px;
	margin-top: 35px;
}
.p-Home.Image5 {
	margin-left: 80px;
	width: 9em;
}
.p-Home.Image6 {
	width: 9em;
}
.p-Home.Image7 {
	width: 9em;
}
.p-Home.Image8 {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 80px;
	width: 9em;
}
.p-Home.TextBox17 {
	width: ;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 26px;
}
.p-Home.TextBox18 {
	font-family: Plus Jakarta Sans;
	font-weight: 700;
	font-size: 58px;
	width: 62%;
	align-self: center;
	text-align: center;
}
.p-Home.TextBox66 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	color: #575656;
	line-height: 28px;
}
.p-Home.TextBox67 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 23px;
	margin-top: 8px;
}
.p-Home.Image20 {
	width: 26%;
}
.p-Home.TextBox63 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image23 {
	width: 7px;
}
.p-Home.TextBox64 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image24 {
	width: 7px;
}
.p-Home.TextBox65 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image22 {
	width: 7px;
}
.p-Home.Image40 {
	width: 26%;
}
.p-Home.TextBox91 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 23px;
	margin-top: 8px;
}
.p-Home.TextBox92 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	color: #575656;
	line-height: 28px;
}
.p-Home.Image37 {
	width: 7px;
}
.p-Home.TextBox88 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image38 {
	width: 7px;
}
.p-Home.TextBox89 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image39 {
	width: 7px;
}
.p-Home.TextBox90 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image44 {
	width: 26%;
}
.p-Home.TextBox96 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 23px;
	margin-top: 8px;
}
.p-Home.TextBox97 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	color: #575656;
	line-height: 28px;
}
.p-Home.Image41 {
	width: 7px;
}
.p-Home.TextBox93 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image42 {
	width: 7px;
}
.p-Home.TextBox94 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.Image43 {
	width: 7px;
}
.p-Home.TextBox95 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	width: ;
	margin-left: 6px;
}
.p-Home.TextBox219 {
	color: #a49a9a;
}
.p-Home.TextBox220 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	font-size: 28px;
	padding-right: 110px;
}
.p-Home.TextBox218 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	font-size: ;
}
.p-Home.Image95 {
	width: 15px;
	color: #ffffff;
	margin-left: 12px;
}
.p-Home.TextBox235 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	font-size: 28px;
	padding-right: 110px;
}
.p-Home.TextBox236 {
	color: #a49a9a;
}
.p-Home.Image102 {
	width: 15px;
	color: #ffffff;
	margin-left: 12px;
}
.p-Home.TextBox234 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	font-size: ;
}
.p-Home.TextBox241 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	font-size: 28px;
	padding-right: 110px;
}
.p-Home.TextBox242 {
	color: #a49a9a;
}
.p-Home.Image104 {
	width: 15px;
	color: #ffffff;
	margin-left: 12px;
}
.p-Home.TextBox240 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	font-size: ;
}
.p-Home.TextBox244 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	font-size: 28px;
	padding-right: 110px;
}
.p-Home.TextBox245 {
	color: #a49a9a;
}
.p-Home.Image107 {
	width: 15px;
	color: #ffffff;
	margin-left: 12px;
}
.p-Home.TextBox243 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	font-size: ;
}
.p-Home.TextBox231 {
	font-size: 24px;
}
.p-Home.TextBox233 {
	font-size: 54px;
}
.p-Home.TextBox232 {
}
.p-Home.Image101 {
	width: 14px;
	margin-left: 14px;
}
.p-Home.Image91 {
	width: 100%;
}
.p-Home.TextBox273 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 14px;
	margin-top: 20px;
}
.p-Home.TextBox274 {
	font-size: 24px;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
}
.p-Home.TextBox275 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 18px;
}
.p-Home.Image132 {
	margin-left: 12px;
}
.p-Home.Image138 {
	width: 100%;
}
.p-Home.TextBox283 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 14px;
	margin-top: 35px;
}
.p-Home.TextBox284 {
	font-size: 24px;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
}
.p-Home.TextBox282 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 18px;
}
.p-Home.Image137 {
	margin-left: 12px;
}
.p-Home.Image140 {
	width: 100%;
}
.p-Home.TextBox286 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 14px;
	margin-top: 35px;
}
.p-Home.TextBox287 {
	font-size: 24px;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
}
.p-Home.TextBox285 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 18px;
}
.p-Home.Image139 {
	margin-left: 12px;
}
.p-Home.TextBox246 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	color: #6e5b5b;
	width: 40%;
	font-size: 22px;
}
.p-Home.TextBox249 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 22px;
}
.p-Home.TextBox250 {
	font-size: 54px;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
}
.p-Home.Image111 {
	height: 50%;
	width: 100%;
}
.p-Home.Image112 {
	height: 50%;
}
.p-Home.Image109 {
	width: 100%;
	margin-left: 0px;
	height: 100%;
}
.p-Home.Image110 {
	width: 100%;
	height: 100%;
}
.p-Home.TextBox251 {
	height: ;
	width: ;
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	font-size: 54px;
	color: #ffffff;
}
.p-Home.TextBox272 {
	font-family: Plus Jakarta Sans;
	font-weight: 700;
	font-size: 26px;
	color: #ffffff;
	margin-bottom: 20px;
}
.p-Home.Image117 {
}
.p-Home.TextBox257 {
}
.p-Home.TextBox263 {
}
.p-Home.Image124 {
}
.p-Home.TextBox264 {
}
.p-Home.Image125 {
}
.p-Home.TextBox266 {
	padding-top: 0px;
	padding-bottom: 6px;
}
.p-Home.Image127 {
}
.p-Home.Image128 {
}
.p-Home.TextBox267 {
}
.p-Home.Image129 {
}
.p-Home.TextBox268 {
}
.p-Home.Image130 {
}
.p-Home.TextBox269 {
}
.p-Home.TextBox270 {
}
.p-Home.Image131 {
}

/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/Test.css ***!
  \*************************************************************************************************************************************************************************************************/
.p-Test.Flex113 {
	display: flex;
	justify-content: space-between;
	height: 7.5em;
	padding-top: 0px;
	padding-left: 111px;
	padding-right: 49px;
}
.p-Test.Flex119 {
	display: flex;
}
.p-Test.Flex121 {
	display: flex;
	width: ;
	height: ;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	-moz-column-gap: ;
	column-gap: ;
}
.p-Test.Flex122 {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: row;
	-moz-column-gap: 2.8em;
	column-gap: 2.8em;
}
.p-Test.Flex132 {
	display: flex;
	justify-content: center;
	height: 7.5em;
	padding-top: 0px;
	padding-left: 111px;
	padding-right: 49px;
}
.p-Test.Flex133 {
	display: flex;
	width: 42em;
	justify-content: space-between;
}
.p-Test.Flex130 {
	display: flex;
	width: 30em;
	height: ;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-moz-column-gap: ;
	column-gap: ;
	align-content: stretch;
}
.p-Test.Image63 {
	padding-top: ;
	padding-bottom: 15px;
	width: 10em;
}
.p-Test.Image62 {
	position: relative;
	right: 37px;
	margin-right: 0px;
}
.p-Test.TextBox145 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox146 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox147 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox149 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox148 {
	font-family: Plus Jakarta Sans;
	font-size: ;
	font-weight: 600;
}
.p-Test.Image69 {
	padding-top: ;
	padding-bottom: 15px;
	width: 10em;
}
.p-Test.TextBox165 {
	font-family: Plus Jakarta Sans;
	font-size: ;
	font-weight: 600;
}
.p-Test.TextBox166 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	width: 2222px;
}
.p-Test.TextBox167 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox168 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.TextBox169 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
}
.p-Test.Image68 {
	position: relative;
	right: 37px;
	margin-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/page-css/b.css ***!
  \**********************************************************************************************************************************************************************************************/
.p-b.Flex192 {
	display: flex;
	background-color: #000000;
	height: 50em;
	justify-content: space-around;
}
.p-b.Flex194 {
	display: flex;
	width: 50%;
	flex-direction: column;
	font-family: Plus Jakarta Sans;
	font-weight: normal;
	color: #ffffff;
}
.p-b.Flex195 {
	display: flex;
	height: 10em;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
}
.p-b.Flex193 {
	display: flex;
	width: 30%;
}
.p-b.TextBox212 {
	font-family: Plus Jakarta Sans;
	font-weight: 800;
	color: #ffffff;
	font-size: 28px;
}
.p-b.TextBox213 {
}
.p-b.TextBox214 {
	font-family: Plus Jakarta Sans;
	font-weight: 600;
	font-size: ;
}

.grad-font {
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 4px;
	background-image: linear-gradient(
		108deg,
		#b16cea 8%,
		#ff5e69 40%,
		#ff8a56 77%,
		#ffa84b 91%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
